.container {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  padding: 50px;
}

.canvas {
  box-shadow: 0px 1px 10px;
  background-color: white;
}

.buttons {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.buttons button {
  all: unset;
  width: 50px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 1px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.buttons button:hover,
.buttons button:active {
  transform: scale(0.95);
}

.colors {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.color {
  width: 100%;
  border-radius: 50%;
  height: 0;
  padding-bottom: 100%;
  box-shadow: 0px 1px 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.color:hover,
.color:active {
  opacity: 0.8;
  transform: scale(0.95);
}
