.container {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  padding: 50px;
  box-sizing: border-box;
}

.canvas {
  box-shadow: 0px 1px 10px;
  background-color: white;
  border-radius: 5%;
}

.buttons {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-auto-rows: auto;
  justify-content: center;
  gap: 5px;
}

.buttons button {
  all: unset;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 1px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.buttons button:hover,
.buttons button:active {
  transform: scale(0.95);
}

.colors {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-auto-rows: auto;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
  justify-items: center;
  align-items: center;
}

.color {
  width: 100%;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  box-shadow: 0px 1px 5px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  border: 4px solid rgba(50, 255, 255, 9);
}
